#projects {
    article {
        margin-top: 50px;

        &:first-child {
          margin-top: 0px;
        }
        header {
            h2 {
              padding-bottom: 5px;
              a {
                color: $base-black;
              }
              a:hover {
                text-decoration: none;
              }
            }
            .date {
                display: inline-block;
                border-bottom: solid 2px $base-black;
            }
        }
        .entry {
            font-size: 20px;
            line-height: 22px;
        }
        img {
          width: 100%;
          margin: 10px 0;
        }
    }
}