doctype html
html
  head
    title= title
    base(href="/")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="Zane Mattingly: Full-stack Developer")
    meta(name="keywords" content="Node.js,Express,AngularJS,Mongoose,Microblog")
    meta(name="author" content="Zane Mattingly")
    each ss in stylesheets
      link(rel='stylesheet', href=ss.href)

  body(ng-app="matting-ly")
    block content
    each js in libJavascripts
        script(src=js.src)
    each js in javascripts
        script(src=js.src)
