<!-- Content -->
<div id="about">
    <div ng-include src="'/assets/partials/common/headline.html'"></div>

    <div class="content">
        <div class="container">
            <section class="col-md-8">
                <h2>Bio</h2>
                <p>Born in New York City, raised in Salt Lake City, geek to the bone.</p>
                <p>Ever since getting my grubby little hands on an <abbr title="Nintendo Entertainment System">NES</abbr> controller at the age of 4, I've been obsessed with computers. Sometimes to my parent's chagrin.</p>
                <p>They finally broke down when I was 7 and bought me a Gameboy, the original brick version that was hefty enough to break a window. Tetris became my life, I'd see blocks falling whenever I closed my eyes.</p>
                <p>From there I graduated onto a old Apple II machine a family friend gifted to us when I was 8 and not long after that a 486 PC. They were clunky, but I loved them and loved to see what I could tweak and change about them.</p>
                <p>When I was 13, the original Half-Life was released and changed my life forever. The game came bundled with a powerful 3D Map Editor and this soon came to dominate my free time. I spent hours upon hours creating custom maps for Deathmatch and Team Fortress Classic.</p>
                <p>Through High School my love affair with the world of computing continued, spending my free time learning basic scripts, navigating FTP sites and learning HTML/Javascript.</p>
                <p>My career as a developer has not been a traditional one, I'm entirely self-taught but have had great professional mentors and I look forward every day to learning new skills and sharpening existing ones.</p>
            </section>
            <aside class="col-md-4 skills">
                <h2>Skills</h2>
                <h3 class="html5-css3">HTML5/CSS3</h3>
                <ul>
                    <li class="sass">Sass</li>
                </ul>
                <h3 class="javascript">JavaScript</h3>
                <ul>
                    <li class="node">Node.js</li>
                    <li class="angular">AngularJS</li>
                    <li class="react">React</li>
                    <li class="jquery">jQuery</li>
                </ul>
                <h3 class="python">Python</h3>
                <ul>
                    <li class="django">Django</li>
                </ul>
                <h3 class="testing">Testing</h3>
                <ul>
                    <li class="selenium">Selenium</li>
                    <li class="jenkins">Jenkins</li>
                </ul>

            </aside>
        </div>
    </div>
</div>