<!-- Content -->
<div id="home" ng-init="init()">
    <div ng-include src="'/assets/partials/common/headline.html'"></div>

    <div class="content">
        <div class="container">
            <section class="col-md-12 blog" ng-show="posts.length">
                <article ng-repeat="post in posts">
                    <header>
                        <h2>{{ post.heading }}</h2>
                        <p class="date">{{ post.date | date:'longDate' }}</p>
                    </header>
                    <div class="entry" ng-bind-html="post.content | trust" />
                    <footer>
                        <p class="text-right">- {{ post.author }}</p>
                    </footer>
                </article>
            </section>
        </div>
    </div>
</div>