<!-- TODO: Move this into a $templateCache instance in the JS directly -->
<table ng-show="vm.data.length"
       fixed-header max-table-height="{{ vm.maxTableHeight }}" table-render-events="{{ vm.tableRenderEvents }}"
       class="table table-bordered table-striped animated fadeIn" tabindex="0">
    <thead>
        <tr ng-transclude></tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in vm.data | orderBy:vm.orderby:vm.reverse"
            selection-model
            selection-model-type="'basic'"
            selection-model-mode="{{ vm.selectionMode }}"
            selection-model-selected-items="vm.selectedItems"
            selection-model-on-change="vm.onChange(row)"
            selection-model-on-enter-keypress="vm.onEnter(row)"
            selection-model-use-keyboard-navigation="vm.useKeyboardNavigation"
        >
            <td ng-repeat="col in columns = (columns || vm.getRowCols(row)) track by $index">
                {{ col.prepend }}{{ col.value | meta:col.filter }}{{ col.append }}
            </td>
        </tr>
    </tbody>
</table>
<div ng-hide="vm.data.length || vm.dataHasLoaded">
    <div class="alert alert-info text-center"><strong>{{ vm.emptyDataString }}</strong></div>
</div>