<div id="view-posts" ng-init="init()">
    <div ng-include src="'/assets/partials/layout/headline.html'"></div>

    <div class="content">
        <div class="container">
            <section class="col-md-12 blog">
                <div ng-show="model.postsHaveLoaded">
                    <h2>All Posts</h2>
                    <selection-table class="selection-table" id="all-posts" table-class="animated fadeIn"
                                     selection-mode="'single'" ng-model="model.allPosts"
                                     initial-order-by="date"
                                     selected-items="model.selectedPost"
                                     dataHasLoaded="model.postsLoading"
                                     empty-data-string="model.postsEmptyDataString"
                                     use-keyboard-navigation="true"
                                     on-enter-keypress="selectAndGoToPost"
                                     max-table-height="400"
                                     focus-when="model.postsHaveLoaded"
                                >
                        <selection-table-column key="heading">Heading</selection-table-column>
                        <selection-table-column key="date" filter="date:longDate">Date</selection-table-column>
                        <selection-table-column key="author">Author</selection-table-column>
                        <selection-table-column key="published" filter="yesNo">Published?</selection-table-column>
                    </selection-table>
                    <div class="admin-controls text-center">
                        <button class="btn btn-lg" ng-click="selectAndGoToPost()">Go To Post</button>
                        <button class="btn btn-lg btn-success" ui-sref="admin.newPost">Create New Post</button>
                    </div>
                </div>
                <div ng-hide="model.postsHaveLoaded">
                    <div ng-include="'/assets/partials/misc/sk-cube-grid.html'"></div>
                </div>
            </section>
        </div>
    </div>
</div>