// Colors
// General
$base-white: #FFF;
$base-black: #111;
// Element-Specific
$banner: #707070;//#2E3C56;
$headline-wrapper: $base-white;//#284855;
$content-wrapper: #DDD;

// Font Families
$arial: Arial, "Helvetica Neue", Helvetica, sans-serif;
$arial-black: "Arial Black", "Arial Bold", Gadget, sans-serif !important;
$futura: Futura, "Trebuchet MS", Arial, sans-serif;