<div id="home" ng-init="init()">
    <div ng-include src="'/assets/partials/layout/headline.html'"></div>

    <div class="content">
        <div class="container">
            <section class="col-md-12 blog" ng-repeat="post in model.posts" ng-show="model.posts.length">
                <article>
                    <header>
                        <h2>{{ post.heading }}</h2>
                        <p class="date">{{ post.date | date:'longDate' }}</p>
                    </header>
                    <div class="entry" ng-bind-html="post.content | trust"></div>
                    <footer>
                        <p class="text-right">- {{ post.author }}</p>
                    </footer>
                </article>
            </section>
            <div ng-hide="model.posts.length">
                <div ng-include="'/assets/partials/misc/sk-cube-grid.html'"></div>
            </div>
        </div>
    </div>
</div>