#home .blog {
    article {
        header {
            .date {
                display: inline-block;
                border-bottom: solid 2px $base-black;
            }
        }
        .entry {
            font-size: 20px;
            line-height: 24px;
        }
        footer {
            border-top: solid 2px $base-black;
        }
    }
}

#home .no-posts {
    margin-top: 20px;
}