// ======================
// Mixins
// ======================
@import "variables";
@import "mixins";

// ======================
// Reset and Global
// ======================
@import "reset";
@import "global";

// ======================
// The Good Stuff
// ======================

// Base
html {
    background-color: $banner;
}

// Header
.header {
    background-color: $banner;
    margin: 0;

    .dropdown-menu {
        a {
            width: 100%;

            &.active {
                background-color: darken($base-white, 7.5%);
            }
        }
    }
    .login-dropdown-form .dropdown-menu {
        background-color: $content-wrapper;
        padding: 0 20px 20px;
        min-width: 320px;
    }
    .login-dropdown-menu .dropdown-menu {
        span {
            margin-right: 10px;
        }
        background-color: $content-wrapper;
    }
    .container {
        padding: 0;
        a {
            display: inline-block;
            font-size: 20px;
            padding: 5px 10px;
        }

        nav a {
            color: $base-white;
            font-family: $arial-black;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                text-decoration: none;
            }

            &.active {
                background-color: darken($banner, 10%);
            }
        }

        .eye {
            color: $base-white;
        }
    }
}

// Headline
.headline {
    background-color: $banner-darker;

    #home &.headline-loaded {
        @include respond-to(medium-screens) {
            background: url("/assets/images/bgs/robot.jpg") no-repeat 0 15%;
            background-size: cover;
        }
    }
    #about &.headline-loaded {
        @include respond-to(medium-screens) {
            background: url("/assets/images/bgs/rings.jpg") no-repeat 0 60%;
            background-size: cover;
        }
    }
    #projects &.headline-loaded {
        @include respond-to(medium-screens) {
            background: url("/assets/images/bgs/yellow_flower_sky.jpg") no-repeat 0 55%;
            background-size: cover;
        }
    }

    &.headline-loaded .container {

        #home & {
            @include respond-to(tiny-screens) {
                background-image: url("/assets/images/bgs/robot.jpg");
            }
            @include respond-to(small-screens) {
                background-image: url("/assets/images/bgs/robot.jpg");
            }
            @include respond-to(medium-screens) {
                background-image: none;
            }
        }
        #about & {
            @include respond-to(tiny-screens) {
                background-image: url("/assets/images/bgs/rings.jpg");
            }
            @include respond-to(small-screens) {
                background-image: url("/assets/images/bgs/rings.jpg");
            }
            @include respond-to(medium-screens) {
                background-image: none;
            }
        }
        #projects & {
            @include respond-to(tiny-screens) {
                background-image: url("/assets/images/bgs/yellow_flower_sky.jpg");
            }
            @include respond-to(small-screens) {
                background-image: url("/assets/images/bgs/yellow_flower_sky.jpg");
            }
            @include respond-to(medium-screens) {
                background-image: none;
            }
        }
    }

    .container {
        background-size: cover;
        font-weight: bold;
        padding-top: 1.5em;
        padding-bottom: 5em;

        section {
            opacity: 0.75;
            transform: rotate(-2deg);
            h1 {
                font-size: 5em;
            }
            p {
                font-size: 1.5em;
            }
            span {
                background-color: $base-white;
                padding: .05em .15em;
            }
        }
    }
}

// Content
.content {
    background-color: $content-wrapper;

    section {
        background-color: $base-white;
        border: solid 5px $base-black;
        border-radius: 1em 3em 0 0;
        margin-bottom: 15px;
        @include respond-to(tiny-screens) {
            margin-top: -70px;
            margin-bottom: 90px;
            //margin-bottom: 300px;
        }
        @include respond-to(small-screens) {
            margin-top: -40px;
            margin-bottom: 60px;
        }
        @include respond-to(large-screens) {
            margin-top: -30px;
            margin-bottom: 50px;
        }

        &:last-of-type {
            @include respond-to(tiny-screens) {
                margin-bottom: 35px;
            }
            @include respond-to(small-screens) {
                margin-bottom: 20px;
            }
            @include respond-to(large-screens) {
                margin-bottom: 15px;
            }
        }

        h2 {
            font-size: 56px;
            border-bottom: solid 5px $base-black;
            margin-bottom: 5px;
        }

        a {
          color: #337AB7;
        }
        a:hover {
          text-decoration: none;
        }
        a:focus {
            outline: none;
            box-shadow: none;
        }

        .entry {
            ul {
                margin-left: 40px;
                list-style: disc;
            }
        }
    }
}

.footer {
    background-color: $banner;
    margin: 0;

    .container {
        padding: 0;
        a {
            color: lighten($base-black, 20%);
        }
        img {
            height: 32px;
        }
        p {
            margin-bottom: 0;
        }
        .social-navs a {
            display: inline-block;
            padding: 0 5px;
            line-height: 48px;
        }
        .powered-by {
            color: lighten($base-black, 5%);
            @include respond-to(tiny-screens) {
                text-align: left;
                line-height: 24px;
            }
            @include respond-to(large-screens) {
                text-align: right;
                line-height: 48px;
            }
            a:hover {
                text-decoration: underline;
            }
        }

    }
}

img.img-responsive {
  width: 100%;
  margin: 20px 0;
}

.iframe-responsive {
    position: relative;
    height: 0;
    overflow: hidden;
}
.iframe-responsive iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
}
.iframe-16x9 {
    padding-bottom: 56.25%;
}

video {
    width: 100% !important;
    height: auto !important;
}

// Public - All
@import "public/_public.scss";
// Admin - All
@import "admin/_admin.scss";